@tailwind base;
@tailwind components;

.max-h-screen-90 {
  max-height: 90vh;
}

.box {
  @apply rounded shadow bg-white;
}

.box-heading {
  @apply mb-1 font-semibold;
}

.placeholder-italic::placeholder {
  font-style: italic;
}

.placeholder-normal::placeholder {
  font-weight: 400;
  letter-spacing: 0;
}

.nav-link.router-link-active {
  @apply rounded bg-gray-300;
}

.nav-link:hover {
  @apply opacity-75;
}

.btn-link {
  @apply text-blue-500 font-semibold tracking-wider cursor-pointer select-none;
}

.btn-link:hover {
  @apply opacity-75;
}

@tailwind utilities;
